parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - ajax
        - front
        - hook.php
        - setup.php
        - src
        - tests
        - tools
    stubFiles:
        - stubs/glpi.php
        - stubs/phpstan/template_renderer.php
    scanFiles:
        - stubs/glpi.php
        - stubs/phpstan/template_renderer.php
    dynamicConstantNames:
        GLPI_VERSION: string
    excludePaths:
        - vendor
        - tests/Integration
